        <footer>     
            <section class="about-us">
                <h2>Label <strong>Vier</strong></h2>
                <ul>
                    <li>Printerweg 10 (4e verdieping)</li>
                    <li>3821 AD Amersfoort</li>
                    <li><a href="gmail.com">hallo@labelvier.nl</a></li>
                </ul>

                <h2>Diensten</h2>
                <ul>
                    <li>Label Vier methode</li>
                    <li>Ons wetenschappelijk fundament</li>
                    <li>Klantreizen</li>
                    <li>UX design</li>
                    <li>UI design</li>
                    <li>Ontwikkeling</li>
                    <li>Hosting & support</li>
                    <li>Status page</li>
                </ul>

                <h2>Informatie</h2>
                <ul>
                    <li>Jouw privacy</li>
                    <li>Algemene voorwaarden</li>
                    <li>Label Vier support</li>
                    <li><a href="/">Cookie voorkeuren</a></li>
                </ul>
            </section>

            <section class="newsletter">
                <h2>Als eerste onze <strong>blogs</strong> lezen?</h2>
                <form action="POST">
                    <input type="text" placeholder="e-mailadress">
                    <button type="submit" class="button-pink">Ik wil de nieuwsbrief</button>
                </form>
            </section>
        </footer>

        <script>
            let navigationMenu = document.querySelector('nav');
            let hamburgerButton = document.querySelector('#hamburger-button');

            hamburgerButton.addEventListener('click', function(){
                navigationMenu.classList.toggle('navigation-menu-open');
            });
        </script>
    </body>
</html>