<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LabelVier</title>
    <meta name="description" content="LabelVier is een frontendbedrijf dat gespecialiseerd is in het bouwen van websites en webapplicaties.">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
  </head>
<body> 
  