main {
    margin-inline: 1.6em;
}

.projects-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
    

    li {

        div {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 185px;
            width: 100%;
            max-width: 350px;
            overflow: hidden;

            img {
                transition: filter 0.3s ease, transform 0.3s ease;
                filter: brightness(0.8);
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }

        p {
            max-width: 320px;
        }

        span {
            display: flex;
            align-items: center;
            gap: 0.6em;
            font-weight: 700;
            font-size: 1.1rem;

            svg {
                padding-block-end: 2px;
            }
        }
    }

    li:hover {
        img {
            filter: brightness(0.9);
        }
    }
}

.next-page-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.8em;  
    padding-top: 2em;

    a, span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 53px;
        width: 100%;
        font-weight: 700;
    }

    span {
        background-color: var(--color-accent-blue);
        color: white;
    }
}

.contact-section {  
    padding-top: 2.5em;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 53px;
        font-weight: 600;
    }
}