header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    img {
        height: 65px;
    }

    #hamburger-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        position: fixed;
        right: 0;
        bottom: 0;
        background-color: var(--color-accent-blue);
        width: 110px;
        height: 100px;
        border: none;
        z-index: 10;

        span {
            display: block;
            width: 37px;
            height: 3px;
            border-radius: 8px;
            background-color: white;
        }
    }

    nav {
        display: none;
        position: fixed;
        z-index: 9;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 75vh;
        background-color: white;

        form {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 310px;
            width: 100%;
            height: 53px;
            background-color: #e6e6e6;
            margin-bottom: 3em;
            margin-inline: 1.7em;

            input {
                background-color: #e6e6e6;
                border: none;
                width: 100%;
                padding-inline-start: 1em;
            }

            button {
                background-color: #e6e6e6;
                border: none;
                width: 53px;
                height: 53px;
            }
        }

        ul:nth-of-type(1) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2em;
            margin-inline: 1.6em;
            width: 100%;
            max-width: 310px;

            li {

                a {
                    font-size: 2.5rem;
                    font-weight: bold;
                }
            }
        }

        li:nth-of-type(2), li:nth-of-type(3) {
            
            ul {
                display: none;
            }
        }
    }
}

.navigation-menu-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .5em;

    .button-blue {
        background: none;
        color: black;
        font-size: 2.5rem;
        font-weight: bold;
        width: 100%;
        max-width: 310px;
    }
}

main {
    margin-inline: 1.6em;
}

.projects-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
    

    li {

        div {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 185px;
            width: 100%;
            max-width: 350px;
            overflow: hidden;

            img {
                transition: filter 0.3s ease, transform 0.3s ease;
                filter: brightness(0.8);
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        p {
            max-width: 320px;
        }

        span {
            display: flex;
            align-items: center;
            gap: 0.6em;
            font-weight: 700;
            font-size: 1.1rem;

            svg {
                padding-block-end: 2px;
            }
        }
    }

    li:hover {
        img {
            filter: brightness(0.9);
        }
    }
}

.next-page-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.8em;  
    padding-top: 2em;

    a, span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 53px;
        width: 100%;
        font-weight: 700;
    }

    span {
        background-color: var(--color-accent-blue);
        color: white;
    }
}

.contact-section {  
    padding-top: 2.5em;
    margin-inline: 1.6em;

    h2 {
        padding-bottom: 1.5em;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 53px;
        font-weight: 600;
    }
}