/* header.liquid */

header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    img {
        height: 65px;
    }

    #hamburger-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        position: fixed;
        right: 0;
        bottom: 0;
        background-color: var(--color-accent-blue);
        width: 110px;
        height: 100px;
        border: none;
        z-index: 10;

        span {
            display: block;
            width: 37px;
            height: 3px;
            border-radius: 8px;
            background-color: white;
        }
    }

    nav {
        display: none;
        position: fixed;
        z-index: 9;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 75vh;
        background-color: white;

        form {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 310px;
            width: 100%;
            height: 53px;
            background-color: #e6e6e6;
            margin-bottom: 3em;
            margin-inline: 1.7em;

            input {
                background-color: #e6e6e6;
                border: none;
                width: 100%;
                padding-inline-start: 1em;
            }

            button {
                background-color: #e6e6e6;
                border: none;
                width: 53px;
                height: 53px;
            }
        }

        ul:nth-of-type(1) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2em;
            margin-inline: 1.6em;
            width: 100%;
            max-width: 310px;

            li {

                a {
                    font-size: 2rem;
                    font-weight: bold;
                }
            }
        }

        li:nth-of-type(2), li:nth-of-type(3) {
            
            ul {
                display: none;
            }
        }
    }
}

.navigation-menu-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .5em;

    .button-blue {
        background: none;
        color: black;
        font-size: 2rem;
        font-weight: bold;
        width: 100%;
        max-width: 310px;
    }
}

/* cases.liquid (main) */

main {
    margin-inline: 1.6em;

    .projects-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2em;

        
    
        li {
            a {
                div {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 12rem;
                    width: 100%;
                    overflow: hidden;
                
                    img {
                        transition: filter 0.3s ease, transform 0.3s ease;
                        filter: brightness(0.8);
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        max-height: 500px;
                    }

                    @media (min-width:500px){
                        height: 16rem;
                    }
                    @media (min-width:600px) {
                        height: 20rem;
                    }
                    @media (min-width:860px) {
                        height: 100%;
                    }
                }
            
                span {
                    display: flex;
                    align-items: center;
                    gap: 0.6em;
                    font-weight: 700;
                    font-size: 1.1rem;
                
                    svg {
                        padding-block-end: 2px;
                    }
                }

                @media (min-width: 860px) {
                    display: grid;
                    grid-template-columns: 50% 50%;
                }
            }

            article {

                @media (min-width: 860px) {
                    margin-inline: 1em;
                    padding-block: 5%;
                }
            }

            &:nth-of-type(even) {
                 
                  @media (min-width: 860px) {
                    
                    div {
                      grid-column: 2;
                      grid-row: 1;
                    }
                
                    article {
                      grid-column: 1;
                      grid-row: 1;
                    }
                  }
                }
            }

        li:hover {
            img {
                filter: brightness(0.9);
            }

            h2 {
                background-color: black;
                color: white;
            }
        }

        @media (min-width:860px) {
            row-gap: 0;
        }
    }

    @media (min-width:1200px) {
        margin-inline: 5em;
    }

    @media (min-width: 1350px) {
        margin-inline: 8em;
    }
}

/* next page buttons */
.next-page-buttons {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 2em;

    ol {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.8em;
        padding: 0;
        width: 100%;

        li {
            min-width: 3em;

            a, span {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 53px;
                width: 100%;
                font-weight: 700;
                font-size: 1.2rem;
            }

            span {
                background-color: var(--color-accent-blue);
                color: white;
            }
        }
    }
}

/* contact-section.liquid */

.contact-section {  
    padding-top: 2.5em;
    padding-bottom: 4.2em;
    margin-inline: 1.6em;

    h2 {
        padding-bottom: 1em;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 53px;
        font-weight: 600;
        font-size: 1.2rem;
    }

    @media (min-width:1200px) {
        display: flex;
        align-items: center;
        column-gap: 2em;
        margin-inline: 5em;
    }

    @media(min-width:1400px) {
        margin-inline: 8em;
    }
}

/* footer.liquid */

footer {
    position: relative;
    background-color: #e6e6e6;
    
    .about-us {
        display: flex;
        flex-wrap: wrap;
        margin-inline: 1.6em;
        column-gap: 20%;

        ul {
            display: flex;
            flex-direction: column;
            gap: 0.4em;
            margin-block-start: 0.35em;
        }

        a {
            text-decoration: underline;
        }

        @media (min-width:1350px) {
            justify-content: center;
        }
    }

    
    .newsletter {
        background-color: var(--color-accent-pink);
        height: 280px;
        margin-top: 3em;

        /* fade in animatie */
        view-timeline-name: --fadein;
        view-timeline-axis: block;

        animation-name: fadeIn;
        animation-fill-mode: both;
        animation-timeline: --fadein;
        animation-range: entry 20% cover 30%;
        opacity: 0;
        transform: translateY(40px);

        h2 {
            padding-top: 1.5em;
            font-size: 1.6em;
            margin-inline: 1em;
            color: white;
        }

        form {
            margin-inline: 1.6em;
            display: flex;
            flex-direction: column;
            row-gap: .3em;

            input, button {
                height: 53px;
            }

            input {
                padding-left: 1em;
            }

            button {
                border: none;
                background-color: white;
                color: var(--color-accent-pink);
                font-size: max(.9090909091vw, 1.1rem);
                font-weight: 700;
                width: 230px;
                align-self: flex-end;
            }
        }
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*kartel randje boven de footer */
footer::before {
    --kartel-angle:116.5deg;
    --kartel-width:4em;
    --kartel-height:1em;
    
    content:"";
    
    position:absolute;
    display: block;
    left:0;
    right:0;
    bottom:100%;
    height:var(--kartel-height);
    
    background-image:
      repeating-conic-gradient(at 50% 0, transparent var(--kartel-angle), #e6e6e6 0 calc(360deg - var(--kartel-angle)) ,transparent 0 360deg);
    background-size:var(--kartel-width) 100%;
}

